<ul class="media-list">
  
<% likeposts.each do |likepost| %>

    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="
<%= gravatar_url(likepost.user, { size: 50 }) %>
" alt="">
      </div>
      <div class="media-body">
        <div>
          
<%= link_to likepost.user.name, user_path(likepost.user) %>
 <span class="text-muted">posted at 
<%= likepost.created_at %>
</span>
        </div>
        <div>
          <p>
<%= likepost.content %>
</p>
      </div>
      <div>
        

<% if current_user == likepost.user %>

<%= link_to "Delete", likepost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>



<% end %>

<%= render 'likes/like_button', micropost: likepost %>




      </div>
    

    </li>
  
<% end %>

  
<%= paginate likeposts %>

</ul>